body {
    margin: 0;
    padding: 0;
    background-color: #1B1E20;
  }
  
  header {
    background-color: #4caf50;
    margin: 0 auto;
    height: 100px;
  }
  
  header h2 {
    padding: 10px;
    margin: 0;
    font-size: 100px;
    text-decoration-color: #E1332D;
    text-emphasis: circle;
    color: #eeeeee;
  }
  
  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 20px;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  
  
  div.card {
    background-color: #eeeeee;
    height: 400px;
    width: 300px;
    box-shadow: 10px 10px grey;
    padding: 10px;
    border-radius: 10px;
  }
  
  p {
    font-size: 1.5em;
    color: black;
    font-family: Helvetica;
  }
  
  li {
    font-size: 1.05em;
    color: #fff;

    list-style: none;
    padding-right: 20px;
  }
  
  button {
    font-size: 16px;
    color: #fff;
    background-color: rgb(18, 115, 139);
    border-radius: 7px;
    padding: 15px 32px;
    display: inline-block;
    border: darkred;
    margin: 1px 2px;
    cursor: pointer;
    /* transform: rotate(-8deg) */
  }

  @keyframes colors {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }
  button:hover {
    transform: translate(5px, 5px);
    transform: rotate(6deg);
    animation-name: colors;
    animation-duration: 4s;
  }
  
  button.release {
    float: right;
    background-color: #E1332D;
  }
  
  @media only screen and (min-width: 500px) {
    main {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (min-width: 850px) {
    main {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  